<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br />
  <p>Seja bem-vindo à nossa Loja Virtual!</p>
  <br />
  <p>Obrigado!</p>
  <p>Equipe API Vendas</p>
</div>
